<div id="tags" class="tab-section">
  <div role="tabpanel">
  {{#if true}}
    <div class="topology-container">
    {{#if true}}
      <div class="downstream-container">
        <p>Downstreams</p>
        <div class="downstream-card">
          <p>
            redis
          </p>
          <div class="details">
            <span class="datacenter">us-east-1</span>
            <span class="passing">80%</span>
            <span class="critical">20%</span>
          </div>
        </div>
        <div class="downstream-card">
          <p>
            service-a
          </p>
          <div class="details">
            <span class="datacenter">us-east-1</span>
            <span class="passing">100%</span>
          </div>
        </div>
      </div>
      <div class="downstream-lines">
        <svg class="lines">
          <g>
            <path class="line-fill" d="M 0 80 Q 150 80 375 80"/>
            <circle class="line-circle" cx="6" cy="80" r="5"/>
          </g>
          <g>
            <path class="line-fill" d="M 0 160 Q 150 80 375 80"/>
            <circle class="line-circle" cx="6" cy="160" r="5"/>
          </g>
          <polygon class="line-arrow" points="361,73 361,87 375,80" />
        </svg>
      </div>
    {{/if}}
      <div class="grafana-container">
        <div class="grafana-header">
          web
        </div>
        <div class="grafana-link">
          <a href="#">Open Grafana Dashboard</a>
        </div>
      </div>
    {{#if true}}
      <div class="upstream-lines">
        <svg class="lines">
          <path class="line-fill" d="M 0 80 Q 190 80 370 80" />
          <path class="line-fill" d="M 0 80 Q 190 160 370 160" />
          <path class="line-fill" d="M 0 80 Q 190 250 370 240" />
        </svg>
      </div>
      <div class="upstream-container">
        <p>Upstreams</p>
        <div class="upstream-card">
          <p>
            consul
          </p>
          <div class="details">
            <span class="port">:80</span>
            <span class="passing">100%</span>
          </div>
        </div>
        <div class="upstream-card">
          <p>
            consul
          </p>
          <div class="details">
            <span class="port">:80</span>
            <span class="passing">33%</span>
            <span class="critical">66%</span>
          </div>
        </div>
        <div class="upstream-card">
          <p>
            consul
          </p>
          <div class="details">
            <span class="datacenter">us-east-1</span>
            <span class="port">:8080</span>
            <span class="passing">100%</span>
          </div>
        </div>
      </div>
    {{/if}}
    </div>
  {{else}}
    <EmptyState>
      <BlockSlot @name="header">
        <h2>
          No dependencies
        </h2>
      </BlockSlot>
      <BlockSlot @name="body">
        <p>
          This service has neither downstreams nor upstreams, which means that no services are configured to connect with it. Add upstreams and intentions to ensure this service is connected with the rest of your service mesh.
        </p>
      </BlockSlot>
      <BlockSlot @name="actions">
        <li class="docs-link">
          <a href="{{env 'CONSUL_DOCS_URL'}}/connect/registration/service-registration#upstream-configuration-reference" rel="noopener noreferrer" target="_blank">Documentation on upstreams</a>
        </li>
      </BlockSlot>
    </EmptyState>
  {{/if}}
  </div>
</div>
